.el-dropdown-link:focus {
    outline: none;
}

.el-icon {
    text-align: center;
}

.el-overlay-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .el-dialog {
        margin: 0;

        .dialog-footer {
            display: flex;
            justify-content: center;
        }
    }
}

.el-popper {
    .el-menu-item i,
    .el-sub-menu__title i {
        margin-right: 5px;
    }
}
