.el-dropdown-link:focus {
    outline: none;
}

.el-icon {
    text-align: center;
}

.el-overlay-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .el-dialog {
        margin-top: 50px;
    }
}
